<section>
  <h1>Mentions Légales</h1>
<h4>Éditeur de l'application</h4>

EZLoto - PhilDEV.fr<br>
Philippe André PERARD<br>
37 rue Hincmar - 51100 REIMS<br>
Email : phildev51@gmail.com<br>
N° Siret 325 342 418 00051
<h4>Hébergement</h4>

L'application ezloto.app est hébergée par :
Lovable / Supabase
Services cloud internationaux<br>
Le site d'informations https://presentation.ezloto.app est hébergé par Vercel Cloud<br>
<h4>Directeur de la publication</h4>

Philippe André PERARD<br>
<h4>Contact</h4>

Pour toute question concernant l'application ou vos données personnelles, vous pouvez nous contacter à : phildev51@gmail.com
<h4>Loi applicable</h4>

Les sites et applications EZLoto sont régis par le droit français. En cas de litige, les tribunaux français seront seuls compétents.
</section>

