<section>
  <h1>Mentions Légales</h1>
<h4>Éditeur de l'application</h4>

EZLoto - PhilDEV.fr<br>
Philippe André PERARD<br>
37 rue Hincmar - 51100 REIMS<br>
Email : phildev51@gmail.com<br>
N° Siret 325 342 418 00051
<h4>Hébergement</h4>

L'application est hébergée par :
Lovable / Supabase
Services cloud internationaux
Directeur de la publication

Philippe André PERARD
Contact

Pour toute question concernant l'application ou vos données personnelles, vous pouvez nous contacter à : phildev51@gmail.com
Loi applicable

Les présentes conditions sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.
</section>

